@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");

body {
  background: linear-gradient(to right, #2b5876, #4e4376);
  overflow: hidden;
  font-family: "Roboto Slab", serif;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  margin-top: -10px;
  z-index: 999999999999999;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

ul > li {
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
  color: #e29578;
  text-shadow: 0px 1px 2px rgba(134, 88, 71, 1);
  font-weight: 600;
  transition: all 0.5s ease;
}

ul > li:hover {
  scale: 110%;
}

.active {
  border-bottom: 3px solid #e29578;
}

h3 {
  font-size: 20px;
  color: #e29578;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0px 1px 2px rgba(134, 88, 71, 1);
  font-weight: 700;
}

.nav span {
  font-size: 20px;
  color: #0a6177;
  text-shadow: 0px 1px 1px rgba(18, 35, 39, 1);
  font-weight: 700;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 98vh;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 10px 20px #dbdbdb;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 180px;
  height: 280px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 10px 20px #505050;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.item:nth-child(3) {
  left: 55%;
}
.item:nth-child(4) {
  left: calc(55% + 220px);
}
.item:nth-child(5) {
  left: calc(55% + 440px);
}
.item:nth-child(n + 6) {
  left: calc(55% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 60%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 2rem;
  color: #0f4c5c;
  text-shadow: 0px 3px 5px rgba(18, 35, 39, 1);
  transform: translate(0, -50%);
  display: none;
}

span {
  color: #e29578;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 111111;
}

.item .name {
  font-size: 60px;
  font-weight: 900;
  opacity: 0;
  animation: anim 1s ease-in-out 1 forwards;
}

.btn {
  padding: 0.6rem 1.5rem;
  margin-top: 2rem;
  border: none;
  /* opacity: 0; */
  font-size: 18px;
  outline: none;
  border-radius: 15px;
  background: linear-gradient(45deg, #0f4c5c, #e29578, #0f4c5c);
  text-transform: uppercase;
  font-weight: 500;
  animation: anim 1s ease-in-out 0.6s 1 forwards;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #0f4d5c;
  letter-spacing: 0.1em;
  text-shadow: 0px 1px 1px rgba(18, 35, 39, 1);
}

.btn:hover {
  scale: 105%;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  left: 550px;
  bottom: 60px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #e29578;
}
